
<ion-header>
  <ion-navbar>
    <ion-title>
      25 September 2017 - (Day 1)
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
	<ion-card>
  <span *ngFor='let value of values; trackBy: index;'>
		<ion-icon  name="ios-happy-outline"></ion-icon>
	</span>
  <ion-card-content>
    <ion-card-title>
      Wakeup Schedule
      </ion-card-title>
    <ion-item>
  <ion-label> I woke up at 6 AM</ion-label>
  <ion-toggle checked="false"></ion-toggle>
</ion-item>
  </ion-card-content>
</ion-card>

<ion-card>
	<span *ngFor='let value of values; trackBy: index;'>
		<ion-icon  name="happy"></ion-icon>
</span>
       
  <ion-card-content>
    <ion-card-title>
      Excercise Schedule
      </ion-card-title>
    <ion-item>
  <ion-label> I did cardio for 5 min today</ion-label>
  <ion-toggle checked="false"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> I took weights for 5 min today</ion-label>
  <ion-toggle checked="false"></ion-toggle>
</ion-item>
<ion-item>
  <ion-label> I did yoga xtoday</ion-label>
  <ion-toggle checked="false"></ion-toggle>
</ion-item>
  </ion-card-content>
</ion-card>


</ion-content>
